/*
 * Fichero de estilos para imágenes.
 *
 * @author Enrique Escalante
 */
img, picture, figure, svg {
    pointer-events: none;
}

.image-upload {
    position: relative;
}

.image-upload,
.image-upload img {
    pointer-events: all;
}

.image-upload img {
    opacity: 1;
    cursor: pointer;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
}

.image-upload .image-description {
    opacity: 0;
    -webkit-transition: 300ms ease;
    -moz-transition: 300ms ease;
    -ms-transition: 300ms ease;
    -o-transition: 300ms ease;
    transition: 300ms ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    pointer-events: none;
}

.image-upload img:hover {
    opacity: 0.5;
}

.image-upload:has(img:hover) .image-description {
    opacity: 1;
}

.image-upload input {
    display: none;
}